*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    max-width: 920px;
    margin: auto;
}
header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 18px;
    font-weight: 600;
}
/* NAVBAR */
.nav-link{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.nav-link::selection{
    background-color: none;
}
.navbar{
    height: 60px;
}
.navbar>ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}
.navbar>ul>li {
    padding-left: 20px;
    padding-top: 10px;
}
.navbar>ul>li:first-child{
    padding-left: 0;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
}
.navbar ul li a:hover{
    text-decoration: underline;
}
.drop_menu{
    display: none;
}
.drop_menu>li{
    border-bottom: 1px solid #000;
    border-bottom: 1px solid #757575;
}
.drop_menu>li>a{
    padding-top: 10px;
}
#btn_logout{
    visibility: hidden;
    height: 40px;
    display: flex;
    align-items: center;
    width: 150px;
}
#btn_logout a{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}
#btn_logout a:hover {
    background-color: #b8b8b8;
}
#btn_logout a i{
    padding-left: 10px;
}

/* POSTS */
#posts{
    width: 920px;
}
.post_item .title{
    font-size: 26px;
    font-weight: 700;
}

/* DETAIL POST - COMMENT */
.form_comment{
    width: 768px;
    position: relative;
}
.btn_post_comment{
    border: none;
    padding: 5px 30px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}
/* AVATAR */
#show_detail_avatar{
    width: 600px;
    height: 600px;
    background-color: #757575;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: none;
}
#show_detail_avatar img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    cursor: pointer;
}
#background_full{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    background-color: #000000c4;
    cursor: pointer;
    display: none;
}
/* MANAGER PAGE */
.button_manager .items{
    margin-top: 23px;
    text-align: center;
}
.button_manager .items a{
    width: 100%;
    height: 60px;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.button_manager .items a:hover{
    background-color: #898989;
}
/* CATEGORY */
.category {
    width: 100%;
}
.category .thumb_nail_category img{
    width: 300px;
    height: 150px;
    object-fit: cover;
}